extends base

block content
    main.main.main__about 
        .about 
            //img.img.img__about(src="/img/books-home.png")
            img.img.img__people(src="/img/about-people.png")
            .about__cont
                h1.about__heading Vitajte
                .about__bubles
            .about__cont
                p.about__paragraph Vitajte na stránke našej maličkej knižnice. Sme veľmi radi, že po rokoch môžeme opäť otvoriť brány všetkým turanským knihomoľom. Predtým, ako sa k nám vyberiete, si ešte môžete prehliadnuť našu databázu kníh. Tešíme sa Vašu návštevu.
                img.img.img__hands.img__hands--top(src="/img/about-hands-top.png")
                img.img.img__hands.img__hands--bottom(src="/img/about-hands-bottom.png")
