.error {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding-top: 5rem;

    &__emoji {
        padding-top: 2rem;
    }

    &__heading {
        padding-top: 4rem;
    }

    &__paragraph {
        font-size: 2rem;
    }
}