.nav {
    display: flex;
    height: 5rem;
    width: 40vw;

    &__el {
        font-size: $font-size-h4;
        width: 25rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: $color-dark-1;
        background: linear-gradient(transparent 0%, transparent 90%, $color-primary 90%);
        background-position: 50% 50%;
        background-size: 1000% 1000%;
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

        &:hover {
            background-size: 1000% 1000%;
            background-position: 0% 100%;
        }

        &--active {
            border-bottom: .5rem solid $color-primary;
        }
    }

}