/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-light-1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color-primary, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color-primary, 0.8);
}
