* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: all, 0.2s;
}

::selection {
    color: $color-white;
    background: $color-primary;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: 100vh;
    background: $color-white;
    padding: 3rem;
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 200;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 400;
}

h3 {
    font-size: $font-size-h3;
    font-weight: 400;
}

h4 {
    font-size: $font-size-h4;
    font-weight: 400;
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none;

    &__no-space {
        position: absolute;
    }

    &__profile--stats {
        opacity: 0 !important;
        visibility: hidden !important;
        left: -100% !important;
        width: 50% !important;
    }

    &__profile--settings {
        opacity: 0 !important;
        visibility: hidden !important;
        left: 100% !important;
        width: 50% !important;
    }
}


.opacity__full {
    opacity: 1 !important;
}

.inactive {
    opacity: .5 !important;
    pointer-events: none;
}

.flipY {
    animation: flipY 1s forwards;
}